.container {
    max-width: 1440px;
    margin: 0 auto;
}

.img-container {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #f55e27;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    img {
        width: 100%;
    }
}